/* The Modal (background) */

.bod{

    background-color: #CEBEA8;

}
.head{

color:#FFD9A3;
 position: absolute;
left:12%;
 letter-spacing: -1px;
 text-shadow: 0px 2px #AE8E61;

}


/* Modal Content/Box */
.modal-content {
    background-color: #ff0000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #345;
    width: 40%; /* Could be more or less, depending on screen size */
z-index: 1;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.div1{
background-color: #d2ae4e;
}
#myBtn{
    background-color: none;
    color: #B98D57;
 
  position: absolute;

  z-index: 15;
  top: 215%;
  left:57%;
  margin: -100px 0 0 -150px;
  padding: 0.3% 1.5%;
border-radius: 12px;

border-color: #B98D57;
}

#myBtn2{
    background-color: none;
    color: #B98D57;
 
  position: absolute;

  z-index: 15;
  top: 215%;
  left:77%;
  margin: -100px 0 0 -150px;  
border-radius: 12px;
padding: 0.3% 1.5%;

border-color: #B98D57;
}


#myBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    background-color: #E2C8A9;
}
#myBtn2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
font-weight: bold;

    background-color: #E2C8A9;
}


/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #d2ae4e;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}