@charset "UTF-8";
/* Body */
body {
	font-family: Haettenschweiler, Impact, Franklin Gothic Bold, Arial Black," sans-serif";
	background-color: #FFFFFF;
	margin: 0;
	/*SIDE BAR*/
	
	
}


/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	
}
/* Header */

header {
	align: center;
	width: 100%;
	height: 100%;
	background-color: #C9A66D;
/*	border-bottom: 1px solid #C9A86A;*/

}

.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}


.logo {
	color: #fff;
	font-weight: lighter;
	font-family: Haettenschweiler;
	letter-spacing: 20px;
	text-align:center;
	font-size: 60px;
	padding-top: 30px;
	

}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px ;
}
.thumbnail2 {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px ;
}

/* More info */
.intro {
	background: linear-gradient( white, white);
	padding-bottom: 35px;
	width: 100%;
}
.name {
	font-family: Trebuchet Ms;

	font-stretch:extra-condensed;

}

.intro .column h3 {
	color: red;
	text-align: center;
	
}

.cards {

	width: 100%;
	height: 180px;

}
.cards2 {

	width: 100%;
	height: 390px;

}
/*INFO DEL FOTOGRAFO*/
.intro .column p {

	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 0px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
	font-family: Helvetica;
	font-size: 100%;
}

.button {
	background-color:#C9A66D;
	width: 200px;
	margin:center;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: Helvetica;
	letter-spacing: 2px;
	border: 1px solid #ffffff;
	color: #FFFFFF;
	transition: all 0.3s linear;
	border-radius:10px;
	
}
.button2 {
	background-color:#C9A66D;
	width: 100px;
	margin:center;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	font-family: Helvetica;
	transition: all 0.3s linear;
	border-radius:5px;
	border: 1px solid #ffffff;
	color: #FFFFFF;
	
}



.button:hover {
	background-color: #ffffff;
	border: 1px solid #C9A66D;
	color:  #BB9545;
	cursor: pointer;
}

.copyright {

	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#C9A66D;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: Helvetica;
	font-size: 100%;
	width: 100%
}

.intro {
	display: inline-block;
	background-color: #E3BD76;
}
.profile {
	width: 25%;
	border-radius: 50%;
}
.profile2{
	
	width: 90%;
	border-radius: 50%;
}
#button3{
	font-family: Helvetica;
	font-size: 100%;
}

/*CLASeS TEXTO DE IMG*/

.tag {
	color: black;
	font-family: Helvetica;
	font-size:100%; 
	padding-bottom: 2px;
	padding-top: 10px;
	text-align: left;
	/*padding-left: 60px;
	padding-right: 20px;*/
}
 h3, h4, h5, h6 {
	margin-top: 10px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #BB9545;
	font-family: Helvetica;
	
}

p {

	color: #000000;
	text-align: justify;
	padding-left: 20px;
	font-family: Helvetica;


}
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}
#infoPhot{
	width: 70%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
	opacity: 0.8;
}


.bootstrap-select.btn-group .dropdown-menu.inner {
    height: auto;
    max-height: 165px !important;
    overflow-x: hidden;
}
.nav-pills .dropdown-menu {
    margin-top:4px;    
}

@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #dddddd;
    }
}



.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #C9A66D;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    font-family: Helvetica;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    background-color: #C9A66D;
    text-decoration: none;
    padding-left: 40px;
    
}

.sidebar a:hover{
    color:#C9A66D;
    background-color: #FFFFFF;

}

.abrir-cerrar {
    color: black;
	background-color: white;
    font-size:1rem;   
}

#abrir {
    
}
#cerrar {
    display:none;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}
