body{
	font-family: 'Open Sans', sans-serif;
	background:#C9A66D;
}


form{
	max-width: 50%;
	align-self:center;
	margin:auto;
	padding:60px;
	background: white;
}

h1{
	text-align: center;
	padding:20px;
	font-size:600%;
	color:white;
}