/* The Modal (background) */
button{
color:black;
background-color: black;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #d2ae4e; /* Fallback color */
    background-color: rgba(255, 194, 36, 0.2); /* Black w/ opacity */
    padding-top: 200px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #d2ae4e;
    color:#ad5203;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #333;
    width: 100%; /* Could be more or less, depending on screen size */
	height: auto;
	padding: 25px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #632d00;
  color: red;
  font-weight: 300;
  margin: 0 0 10px;
  width: 500px;
	padding-top: 5px;
}
.field-wrap {
  position: relative;
 /* margin-bottom: 40px;
*/}
input:focus, textarea:focus {
  outline: 0;
  border-color: #b19519;
}

textarea {
  border: 2px solid #C5A939;
  resize: vertical;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
/*Fondo pag*/
body {
  background: #AEA49C;
  font-family: 'Titillium Web', sans-serif;
}
/*Forgot password Color*/
a {
  text-decoration: none;
  color: #705727;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #AEA49C;
}

/*Fondo de caja */
.form {
  background: rgba(224, 224, 224, 0.98);
  padding: 40px;
  max-width: 1000px;
	max-height: 1000px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
/*Tab no Seleccionada*/
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(102, 83, 55, 0.98)/*(170, 129, 69, 0.98);/*Color Tab */
  color: #EFEFEF;/*Color Letras*/
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #AA8145;
  color:#F8CA25;
}
.tab-group .active a {
  background: #AA8145;
  color: #F8CA25
}
/**/
.tab-content > div:last-child {
  display: none;
}





label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(170, 129, 69, 0.98);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #C5A939;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #926D00;
}

input, textarea {
  font-size: 22px;
  display: block;
 padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #C5A939;
  color: #926D00;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #C5A939;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #C5A939;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #C5A939;
}

.button-block {
  display: block;
  width: 100%;/*100*/
}

.forgot {
  color:#705727;
  margin-top: -20px;
  text-align: right;
}



