
body {
    background-color:#fefefe;
    color: #656565;
    /*padding-top:43px;*/
}

/* Sticky footer styles
--------------------------------------------------  */

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; 
  top:-48px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height:180px;
  margin-top:20px;
}
#footer {
  background-color:#f2f2f2;
  color:#777;
  padding:20px;
}
#footer a {
  color:#808080;
}
#footer a:hover {
  color:#666;
  text-decoration:none;
  margin-left:-1px;
}

@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

a:focus {
    outline:0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    font-weight:300;
}

.letterpress {
    color:#ececec;
}

h1.letterpress {
    /*text-shadow: 0 1px 0 #ffffff;*/
    font-size: 60px;
    font-weight:bold;
    letter-spacing:-2px;
    padding-top:10px;
    padding-bottom:5px;
}


.bootstrap-select.btn-group .dropdown-menu.inner {
    height: auto;
    max-height: 165px !important;
    overflow-x: hidden;
}

/* bootstrap overrides */

.navbar-inverse {
    background: #242438;
    padding-top:5px;
    padding-bottom:3px;
}

.navbar-inverse .navbar-inner {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border-width:0;
}

.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-width: 6px;
    margin-top: 6px;
}

.navbar a:hover {
    text-decoration:none;
}

.navbar .brand {
    padding-left:0;
    padding-bottom:0;
    padding-top:9px;
    padding-right:14px;
    margin-right:0;
    margin-left:0;
    color: #f5f5f5;
}
.navbar .brand:hover {
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);*/
}

.navbar .btn {
    background-color:#535368;
    background-image:none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.navbar .btn:hover {
    color:#f2f2f2;
    background-color:#313146;
}

.navbar-inverse .nav>li>a {
    color:#e2e2e2;
    padding: 12px 15px 11px;
}

.navbar-inverse .nav>li>a:hover,.navbar-inverse .nav>li>a:focus {
    color:#efefef;
    background:#353549;
}

.nav-pills .dropdown-menu {
    margin-top:4px;    
}

@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
        color: #dddddd;
    }
}

.navbar .input-append input[type=text] {
    background-color:#313146;
    border-color:transparent;
    font-size:12px;
    color:#eee;
    border-radius:0;
    box-shadow:0 0;
}

.navbar .input-append .btn {
    border-radius:0;
}

.nav-tabs.nav-stacked>li>a {
    border-width: 0;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.well {
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
}

.accordion {
    padding:0;
    margin:0;
}

.accordion a {
    font-size:13px;
}

.accordion a:hover {
    text-decoration: none;
}

.accordion-group {
    padding:0;
    border-width:0;
    border-bottom-width:1px;
    border-color:#f3f3f3;
    margin-bottom:0;
}

.accordion-heading {
    padding-left:5px;
    margin:0;
    background:#ffffff;
}

.accordion-heading:hover, .accordion-group:hover {
    background:#fdfdfd;
}

.accordion-heading span {
    width:25px;
}

.accordion-heading i {
  font-size:20px;
  color:#fafafa;
}

.accordion-toggle {
    padding:4px;
}

.accordion-inner {
    padding:1px;
    padding-left:4px;
    background:#fafafa;
}

.accordion-sub {
    border-width:0;
    margin:1px;
    font-size:12px;
}

.accordion-sub .accordion-heading {
    padding:2px;
    padding-left:5px;
}

.accordion-sub .accordion-toggle {
    padding:3px;
    padding-left:7px;
}

.accordion-sub .accordion-inner{
    background: #efefef -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
    background: #efefef -moz-linear-gradient(top, #fff, #efefef);
    padding:1px;
    border:1px solid #ffffff;
}

.pull-center td:not(:first-child) {text-align:center;margin:0 auto !important;float:none !important;}
.pull-center {text-align:center;margin:0 auto !important;float:none !important;}
.checkbox {margin-left:4px;margin-bottom:0;margin-top:0;font-size:90%;}

.btn-group {
    padding:0 !important;
    margin:0 !important;
}
.btn, .btn-inverse, .btn-success, .btn-primary {
    border-radius: 2px;
    background-image: none;
}
.btn-huge {
    padding:12px;
}

/* bootply tweaks */
button#btnSettings:hover + #btnSave{color:#fff;}
.fb-like {
    margin-left:0;
    margin-top:9px;
}
.tw-btn {
    margin-left:6px;
    margin-top:9px;
    margin-right:0;
}


.nav>li>span {
    display: block;
}

@media (max-width: 768px) {
    .navbar .brand {
        padding-left:15px;
        padding-right:7px;
    }
}

.show-grid [class*="span"] {
    background-color:#f2f2f2;
    padding:2px;
}

.show-grid2 .span2 {
	font-size:10px;
}

.label {
    font-weight: 400;
}

.badge-large,.label-large {
    padding: 8px;
    font-size: 108%;
    margin-bottom: 3px;
}

.badge-large a,.label-large a {
    color:#fff;
}

.carbonad { 
  background: #f5f5f5 !important;
  background: rgba(240,240,240,0.9) !important;
  border-width: 0 !important;
  width:160px;
} 

.ad {
  position: absolute;
  bottom: 70px;
  right: 48px;
  z-index: 120;
}

.ad-btn-hide {
  position: absolute;
  top: -10px;
  left: -12px;
  background: #fefefe;
  background: rgba(240,240,240,0.9);
  border: 0;
  border-radius: 26px;
  cursor: pointer;
  padding: 0;
  height: 25px;
  width: 25px;
  font-size: 19px;
}

.carbon-img {
  float:left;
  padding: 10px;
}

.carbon-text {
  color: #888;
  display: inline-block;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  height: 60px;
  margin-left: 9px;
  width: 142px;
  padding-top: 10px;
}

.carbon-text:hover {
  color: #eee;
}

.carbon-poweredby {
  color: #6A6A6A;
  float: left;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 13px;
  text-align: center;
}

#carbonads {
  background-color: #e8e8e8;
  background-color: rgba(245,245,245,0.9);
  height: 123px;
  line-height: 1.2;
  width: 300px;
  padding: 4px;
  border: 1px dashed #ddd;
  margin: 0 auto;
  text-align: left;
}

#carbonads .carbon-wrap {
  padding: 1px;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
}

#carbonads .carbon-img {
  float: left;
  height: 100px;
  width: 130px;
}

#carbonads .carbon-text {
  color: #545454;
  float: left;
  font-weight: 400;
  margin-left: 1px;
}

#carbonads .carbon-poweredby {
  color: #999;
  float: left;
  font-weight: 400;
  padding-left: 0;
  padding-top: 15px;
  font-size: 11px;
  margin-left: 2px;
}

.bsad, .navbar>li .bsad {
    font-size: 12px;
    margin-left: 20px;
    line-height: 38px;
}

/*
.bsad:before {
  margin-right: 0;
  padding: 2px 6px;
  border-radius: 3px;
  background: #3bd88a;
  color: #fff;
  content: "Ad";
}
*/

.bsad > a {
    text-decoration:none;
    margin-left:3px;
    color: #eee;
}

.bsa-cpc #_default_ {
  /*position: absolute;*/
  bottom: 1px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.bsa-cpc .default-ad {
  display: none;
}

.bsa-cpc ._default_ {
  display: block;
  overflow: hidden;
  padding: .7em 1em;
  line-height: 1.5;
}

.bsa-cpc ._default_ > * {
  vertical-align: middle;
}

.bsa-cpc a {
  color: #bcc1c6;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.bsa-cpc a:hover {
  color: #e3e5e8;
}

.bsa-cpc .default-image {
  display: inline-block;
  margin-right: 6px;
  line-height: 0;
}

.bsa-cpc .default-image img {
  height: 14px;
  border-radius: 3px;
}

.bsa-cpc .default-title:after {
  content: " — ";
}

.bsa-cpc .default-title,
.bsa-cpc .default-description {
  display: inline;
}

.bsa-cpc .default-title {
  position: relative;
  font-weight: 600;
}

.bsa-cpc .default-description:after {
  position: relative;
  top: -1px;
  right: -8px;
  padding: 2px 5px;
  border: solid 1px #3bd88a;
  border-radius: 3px;
  color: #3bd88a;
  content: "Ad";
  text-transform: uppercase;
  font-size: 9px;
  font-family: Verdana, sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #C9A66D;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    background-color: #C9A66D;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:grey;
    background-color: skyblue;

}

.abrir-cerrar {
    color: black;
	background-color: white;
    font-size:1rem;   
}

#abrir {
    
}
#cerrar {
    display:none;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}
