@charset "utf-8";
/* CSS Document */


#Scol{
	color:gray;
	background-color: white;
	text-align: center;
	margin-top: 10px;	
	font-size: 25px;
}

.col-md-4{
	text-align: center;
	background-color:  #C9A66D;
	border-right: solid #FFFFFF;
	margin-top: 10px;
	
}

.content {
	text-align: center;
	align-items: center;
	align-content: center;
    max-width: 60%;
    margin: auto;
	padding-top: 20px;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 2px 5px;	
  width: 100px;
  cursor: pointer;
  margin: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	text-align: center;
	align-content: center;
}

/* Modal Content */
.modal-content {
	max-width: 60%;
	border-radius: 12px;
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    padding: 80px 2px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	text-align: center;
	align-content: center;
	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float:none;
	font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#X{
  width: 100px;	
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 2px 5px;	
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
	list-style: none;
  background: #FFFFFF;
  font-size: 18px;
  transition: 0.2s;
  color: gray;
  padding: 0;
  width: 100%;
}


/* Style the input */
input {
  border-radius: 12px;
  border: solid 1px gray;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  color: gray;
  text-align: center;
  margin: 10px;
	
}

/* Style the "Add" button */
.addBtn {
  width: 100px;	
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 2px 5px;	

}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #C9A66D;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    background-color: #C9A66D;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:grey;
    background-color: skyblue;

}

.abrir-cerrar {
    color: black;
	background-color: white;
    font-size:1rem;   
}

#abrir {
    
}
#cerrar {
    display:none;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

#snippet-preview {
  position: relative;
  top:0px;left:0px; width:100%; height:100%;
  z-index:50
}

.form-group{
	width: 80%;
	margin: auto;
}

#toolbar {
	z-index: 1000;
	padding: 5px;
	border-bottom: 1px #CCC solid;
	-webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.42);
	-moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.42);
	box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.42);
	margin-bottom: 10px;
	text-align: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active{
  background-image: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}