@charset "utf-8";
/* CSS Document */

body{
	font-family: "open-sans";
	font-size: 30px;
	color: #FFFFFF;
}

h2 {
	font-size: 35px;
	margin: auto;
	text-align: left;
	color: gray;
}

p{
	align-content: center;
	color:gray;
}


#Scol{
	color:gray;
	background-color: white;
	text-align: center;
	margin-top: 10px;	
	font-size: 25px;
}

.col-md-4{
	text-align: center;
	background-color:  #C9A66D;
	border-right: solid #FFFFFF;
	margin-top: 10px;
	
}

.content {
	text-align: center;
	align-items: center;
	align-content: center;
    max-width: 60%;
    margin: auto;
	padding-top: 20px;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 2px 5px;	
  width: 100px;
  cursor: pointer;
  margin: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	max-width: 50%;
	border-radius: 12px;
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    padding: 80px 2px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float:none;
	font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#X{
  width: 100px;	
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 2px 5px;	
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
	list-style: none;
  background: #FFFFFF;
  font-size: 18px;
  transition: 0.2s;
  color: gray;
  padding: 0;
  width: 100%;
}

/* Style the header */
.header {
  background-color: none;
  padding: 30px 40px;
  color: white;
  text-align: center;
	bord:solid red;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border-radius: 12px;
  border: solid 1px gray;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  color: gray;
  margin: 10px;
	
}

/* Style the "Add" button */
.addBtn {
  width: 100px;	
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  display: inline-block;
  border-radius: 12px;
  background-color:  #C9A66D;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 2px 5px;	

}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #C9A66D;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    background-color: #C9A66D;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:grey;
    background-color: skyblue;

}

.abrir-cerrar {
    color: black;
	background-color: white;
    font-size:1rem;   
}

#abrir {
    
}
#cerrar {
    display:none;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}



