/*VIDEO STYLE*/
button{
	position: absolute;
top: 50%;
  left:50%;
}
video {
    max-width: 100%;
    height: auto;
    background-color: black;
}
.div1{

  position: absolute;
 width: 600px;
  height: 400px;
  z-index: 15;
  top: 50%;
  left:37%;
  margin: -100px 0 0 -150px;
  

}
p.outset {
	border-left:8px outset;
	text-align: center;
	text-shadow: 0px 2px #CEAD8C;
border-color:#341C03; 
color: #B8630D;
background-color: rgba(240,224,208,0.86) ;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 10%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}